<?xml version="1.0" encoding="UTF-8"?><Root>
      		<SubSystem>
		<Name>Magnet Control Scope</Name>
		<xPCName>System/Magnet Control Scope</xPCName>
		
		

		</SubSystem>
		<SubSystem>
		<Name>Signal From Load Cell into Q4</Name>
		<xPCName>System/Signal From Load Cell into Q4</xPCName>
		
		

		</SubSystem>

      
            <block>
            <blkName>Magnet_Control</blkName>
            <xpcblkName>Magnet_Control</xpcblkName>
            <SLblockPath>System/Magnet_Control</SLblockPath>
            <isSrc>[1 0 1]</isSrc>
          <parameter>
          <paramName>Value</paramName>
          <dim>[1, 1]</dim>  
		  <SubSystemName>System</SubSystemName>
          </parameter>
          </block>
            <block>
            <blkName>Q4 AD</blkName>
            <xpcblkName>Q4 AD</xpcblkName>
            <SLblockPath>System/Q4 AD</SLblockPath>
            <isSrc>[1 0 1]</isSrc>
          <parameter>
          <paramName>P1</paramName>
          <dim>[1, 1]</dim>  
		  <SubSystemName>System</SubSystemName>
          </parameter>
          <parameter>
          <paramName>P2</paramName>
          <dim>[1, 1]</dim>  
		  <SubSystemName>System</SubSystemName>
          </parameter>
          <parameter>
          <paramName>P3</paramName>
          <dim>[1, 1]</dim>  
		  <SubSystemName>System</SubSystemName>
          </parameter>
          <parameter>
          <paramName>P5</paramName>
          <dim>[1, 1]</dim>  
		  <SubSystemName>System</SubSystemName>
          </parameter>
          <parameter>
          <paramName>P6</paramName>
          <dim>[1, 1]</dim>  
		  <SubSystemName>System</SubSystemName>
          </parameter>
          <parameter>
          <paramName>P7</paramName>
          <dim>[1, 1]</dim>  
		  <SubSystemName>System</SubSystemName>
          </parameter>
          </block>
            <block>
            <blkName>Q4 DA </blkName>
            <xpcblkName>Q4 DA </xpcblkName>
            <SLblockPath>System/Q4 DA </SLblockPath>
            <isSrc>[0 1 0]</isSrc>
          <parameter>
          <paramName>P1</paramName>
          <dim>[1, 1]</dim>  
		  <SubSystemName>System</SubSystemName>
          </parameter>
          <parameter>
          <paramName>P2</paramName>
          <dim>[1, 1]</dim>  
		  <SubSystemName>System</SubSystemName>
          </parameter>
          <parameter>
          <paramName>P3</paramName>
          <dim>[1, 1]</dim>  
		  <SubSystemName>System</SubSystemName>
          </parameter>
          <parameter>
          <paramName>P4</paramName>
          <dim>[1, 1]</dim>  
		  <SubSystemName>System</SubSystemName>
          </parameter>
          <parameter>
          <paramName>P5</paramName>
          <dim>[1, 1]</dim>  
		  <SubSystemName>System</SubSystemName>
          </parameter>
          <parameter>
          <paramName>P6</paramName>
          <dim>[1, 1]</dim>  
		  <SubSystemName>System</SubSystemName>
          </parameter>
          <parameter>
          <paramName>P7</paramName>
          <dim>[1, 1]</dim>  
		  <SubSystemName>System</SubSystemName>
          </parameter>
          <parameter>
          <paramName>P8</paramName>
          <dim>[1, 1]</dim>  
		  <SubSystemName>System</SubSystemName>
          </parameter>
          <parameter>
          <paramName>P9</paramName>
          <dim>[1, 1]</dim>  
		  <SubSystemName>System</SubSystemName>
          </parameter>
          </block>
			  
			  
              <signal>
              <sigName>Magnet_Control</sigName>
              <xpcsigName>Magnet_Control</xpcsigName>
              <sigWidth>1</sigWidth>
              <sigDim>[1, 1]</sigDim>
			  <SubSystemName>System</SubSystemName>
			  <sigTestPoint>false</sigTestPoint>
            </signal>
			  
			  
              <signal>
              <sigName>Q4 AD</sigName>
              <xpcsigName>Q4 AD</xpcsigName>
              <sigWidth>1</sigWidth>
              <sigDim>[1, 1]</sigDim>
			  <SubSystemName>System</SubSystemName>
			  <sigTestPoint>false</sigTestPoint>
            </signal>

</Root>